@model %(ProjectName)%.Models.%(ProjectName)%

@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

%(ConfirmationMessage)%

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
